*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    align-items: center;
    background: black;
    justify-content: center;
    display: flex;
    padding: 20px;
    color: antiquewhite;
}

.container{
    align-items: center;
    justify-content: center;
    display: flex;
}

.card{
    border: 2px solid whitesmoke;
    border-radius: 15px;
    box-shadow: 0 0 20px whitesmoke;
    background: black;
    width:340px;
    padding:35px;
    text-align: center;
    color: whitesmoke;
    overflow: hidden;
    transition: 0.5s;
}

.card::before{
    content: "";
    position: absolute;
    top:-50%;
    left:50%;
    width:450px;
    height: 450px;
    background-color: blue;
    filter:blur(100px);
    opacity: 0.30;
    transform: rotate(45deg);
}
.card h2{
    font-size: 40px;
    margin-bottom: 5px;
    text-shadow: 0 0 10px blue;
}

.subtitle{
    margin-bottom: 15px;
    font-size: 17px;
    color: aliceblue;
}

 h3{
    color: aqua;
    font-size:25px;
    margin: 15px;
}

.skills{
    list-style: none;
    text-align: left;
    margin-bottom: 20px;
    color: blue;
}

.skills li{
    padding: 8px 0;
    color: white;
   

}

.btn{
    display: inline-block;
    padding: 10px 30px;
    background: blue;
    color:black;
    text-decoration: none;
    font-weight: bolder;
    border-radius: 2px 10px;
    box-shadow: 0 0 15px blue;
    transition: 0.4s;
}


.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 20px blue;
}


.btn:hover{
    background-color:cornflowerblue;
    box-shadow: 0 0 40px blue;
}